:root {
    --cor-branco: #fff;
    --cor-preto: #000;

    --border-radius: 1rem;
    --gap-grande: 2rem;
    --gap-medio: 1rem;
    --gap-pequeno: 0.5rem;

    --fonte-principal: 'DM Sans', sans-serif;

    --fs-h1: clamp(3rem, 5vw, 6rem);
    --fs-h1-grande: clamp(4rem, 7vw, 10rem);
    --fs-h2: clamp(2rem, 3.5vw, 4rem);
    --fs-texto: clamp(1.2rem, 2vw, 3rem);
    --fs-menu: clamp(1.5rem, 2.5vw, 2.5rem);
    --fs-rodape: clamp(2.5rem, 4vw, 6rem);

    --largura-container: 100%;
    --altura-container: 100vh;
    --altura-menu: 10rem;
    --altura-rodape: 16rem;
    --altura-mt: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-principal);
}

h1 {
    font-size: var(--fs-h1);
    margin-bottom: 2rem;
}

p,
li {
    font-size: var(--fs-texto);
}

p {
    width: 70%;
}

a {
    text-decoration: none;
    color: var(--cor-branco);
    transition: transform .3s, text-decoration .3s;
}

a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

iframe {
    width: 100%;
    max-width: 100rem;
    height: auto;
}

.Container {
    width: var(--largura-container);
    min-height: var(--altura-container);
}

.Branco {
    background: url(../Imagens/telaCheia.png) no-repeat center/cover;
}

.Preto {
    background-color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sessao {
    background-color: var(--cor-branco);
    width: 90%;
    min-height: 90%;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin: 5rem 0;
}

.FundoMenu {
    width: var(--largura-container);
    height: var(--altura-menu);
    background-color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu {
    display: flex;
    justify-content: center;
    font-size: var(--fs-menu);
    gap: 8rem;
}

.TituloGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding-top: 5rem;
}

.Titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cor-branco);

    & h1 {
        font-size: var(--fs-h1-grande);
        margin-bottom: 1rem;
    }
    & p {
        font-size: var(--fs-texto);
        width: 70%;
    }
}

.ImagemTitulo {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 45%;
        max-width: 100%;
        height: auto;
    }
}

.Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Imagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);

    & img {
        max-width: 100%;
        border-radius: var(--border-radius);
        height: auto;
    }
}

.SessaoGaleria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);
    color: var(--cor-branco);
    padding-bottom: 5rem;

    & h1 {
        margin-top: var(--altura-mt);
    }
}

.GaleriaGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-grande);

    & img {
        width: 30rem;
        height: 30rem;
        border-radius: var(--border-radius);
        transition: transform 0.3s ease;
    }
}

.GaleriaGrid img:hover {
    transform: scale(1.05);
}

.HardwareGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ImagemHardware {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        margin-top: var(--altura-mt);
        max-width: 60%;
        height: auto;
        border-radius: var(--border-radius);
    }
}

.HardwareText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-branco);
    margin-bottom: 6rem;

    & h1 {
        margin-top: var(--altura-mt);
    }
}

.SessaoVideos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);
}

.EquipeGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-medio);
}

.TituloSessao {
    display: flex;
    justify-content: center;
    padding-top: var(--altura-mt);
    color: var(--cor-branco);
}

.ContainerEquipe {
    min-height: 130vh;
}

.Membro {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-pequeno);
    text-align: center;
    color: var(--cor-branco);

    & h2 {
        font-size: var(--fs-h2);
        margin-bottom: 1rem;
        color: var(--cor-branco);
    }
    & p,a {
        font-size: var(--fs-texto);
    }
    & img {
        width: 30rem;
        height: 30rem;
        border-radius: var(--border-radius);
        margin-top: 2rem;
        max-width: 100%;
        height: auto;
    }
}

.FundoRodape {
    width: var(--largura-container);
    height: var(--altura-rodape);
    background-color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rodape {
    gap: 10rem;
    width: 100%;

    & h1 {
        color: var(--cor-branco);
        font-size: var(--fs-rodape);
        font-weight: bold;
    }
}

.RodapeLinks {
    display: flex;
    justify-content: center;
    gap: 3rem;

    & a {
        color: var(--cor-branco);
        font-size: var(--fs-rodape);
    }
}

@media (max-width: 1440px) {

    .GaleriaGrid,
    .EquipeGrid {
        grid-template-columns: repeat(3, 1fr);
    }

    .ContainerEquipe {
        min-height: 170vh;
    }
}

@media (max-width: 1024px) {

    .GaleriaGrid,
    .EquipeGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .Menu {
        gap: 6rem;
    }

    .ContainerEquipe {
        min-height: 150vh;
    }
}

@media (max-width: 768px) {

    .EquipeGrid,
    .HardwareGrid,
    .Grid,
    .TituloGrid,
    .GaleriaGrid {
        grid-template-columns: 1fr;
    }

    .Menu {
        gap: 4rem;
    }

    .ImagemHardware img {
        margin-bottom: 5rem;
    }

    .Texto h1 {
        margin-top: 3rem;
    }

    .Texto p {
        margin-bottom: 3rem;
    }

    .ContainerEquipe {
        min-height: 230vh;
    }

    p,
    li,
    .Membro p {
        font-size: 2rem;
    }

    .Membro a {
        font-size: 1.8rem;
    }
}

@media (max-width: 426px) {

    .EquipeGrid,
    .HardwareGrid,
    .Grid,
    .TituloGrid,
    .GaleriaGrid {
        grid-template-columns: 1fr;
    }

    .Menu {
        gap: 8px;
    }

    .GaleriaGrid img {
        width: 30rem;
    }

    .Imagens img {
        width: 32rem;
    }

    .ImagemHardware img {
        width: 30rem;
    }

    .Sessao p {
        font-size: 2rem;
    }
}

@media (max-width: 321px) {
    .Menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 1rem;
    }

    .Imagens img {
        width: 26rem;
    }

    .ImagemHardware img {
        width: 28rem;
    }

    .Sessao p {
        font-size: 1rem;
    }

    .Titulo h1 {
        font-size: 3.5rem;
    }
}