:root {
    --cor-branco: rgb(255, 255, 255);
    --cor-preto: black;

    --border-radius: 1rem;

    --gap-grande: 2rem;
    --gap-medio: 1rem;
    --gap-pequeno: 0.5rem;

    --fonte-principal: 'DM Sans', sans-serif;

    --fs-h1: clamp(3rem, 5vw, 6rem);
    --fs-h1-grande: clamp(4rem, 7vw, 8rem);
    --fs-h2: clamp(2rem, 3.5vw, 3rem);
    --fs-texto: clamp(1.2rem, 2vw, 1.5rem);
    --fs-menu: clamp(1.5rem, 2.5vw, 2rem);
    --fs-menu-hover: clamp(2rem, 3vw, 2.5rem);
    --fs-rodape: clamp(2.5rem, 4vw, 4rem);

    --largura-container: 100%;
    --altura-container: 100vh;
    --altura-menu: 8rem;
    --altura-rodape: 16rem;
    --altura-mt: 3rem;

    --largura-img-pequena: 35rem;
    --altura-img-pequena: 20rem;

    --largura-img-media: 40rem;
    --altura-img-media: 25rem;

    --largura-iframe-desktop: 85rem;
    --altura-iframe: 18rem;
    --largura-iframe-tablet: 55rem;
    --largura-iframe-mobile: 35rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--fs-h1);
    margin-bottom: 2rem;
}

p {
    font-size: var(--fs-texto);
    width: 70%;
}

li {
    font-size: var(--fs-texto);
}

iframe {
    width: var(--largura-iframe-desktop);
    height: var(--altura-iframe);
    border-radius: var(--border-radius);
}

a {
    text-decoration: none;
    color: var(--cor-branco);
    transition: all .4s ;
}

a:hover{
    font-size: var(--fs-menu-hover);
    text-decoration: underline;

}

.Container {
    width: var(--largura-container);
    height: var(--altura-container);
}

.ContainerXMedia {
    height: 65rem;
}

.Branco {
    background-color: var(--cor-branco);
}

.Preto {
    background-color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sessao {
    background-color: var(--cor-branco);
    width: 90%;
    height: 90%;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.FundoMenu {
    width: var(--largura-container);
    height: var(--altura-menu);
    background-color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu {
    display: flex;
    justify-content: center;
    font-size: var(--fs-menu);
    gap: 8rem;
}

.TituloGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.Titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & h1 {
        font-size: var(--fs-h1-grande);
        margin-bottom: 1rem;
    }

    & p {
        font-size: var(--fs-texto);
        width: 70%;
    }
}

.ImagemTitulo {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 45%;
    }
}

.Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Imagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);

    & img {
        height: var(--altura-img-pequena);
        width: 80%;
        border-radius: var(--border-radius);
    }
}

.SessaoGaleria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);
    margin-top: var(--altura-mt);
}

.GaleriaGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap-grande);

    & img {
        width: var(--largura-img-pequena);
        height: var(--altura-img-pequena);
        border-radius: var(--border-radius);
        transition: all 0.3s ease;
    }
}

.GaleriaGrid img:hover {
    width: var(--largura-img-media);
    height: var(--altura-img-media);
}

.HardwareGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ImagemHardware {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        margin-top: var(--altura-mt);
        width: 60%;
        border-radius: var(--border-radius);
    }
}

.HardwareText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h1{
        margin-top: var(--altura-mt);
    }
}

.SessaoVideos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);
}

.EquipeGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--gap-medio);
}

.Membro {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-pequeno);
    text-align: center;

    & h2 {
        font-size: var(--fs-h2);
        margin-bottom: 1rem;
    }

    & p {
        font-size: var(--fs-texto);
    }

    & img {
        width: 16rem;
        height: 16rem;
        border-radius: var(--border-radius);
        margin-top: 2rem;
    }
}

.FundoRodape {
    width: var(--largura-container);
    height: var(--altura-rodape);
    background-color: var(--cor-preto);
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rodape {
    display: flex;
    gap: 60rem;

    & h1 {
        color: var(--cor-branco);
        font-size: var(--fs-rodape);
        font-weight: bold;
    }
}

.RodapeLinks {
    display: flex;
    justify-content: center;
    gap: 3rem;

    & a {
        color: var(--cor-branco);
        font-size: var(--fs-rodape);
    }
}
/*4K*/
@media (width <=2560px) {
}
/*Laptop L*/
@media (width <=1440px) {
}
/*Laptop*/
@media (width <=1024px) {
}
/*Tablet*/
@media (width <=768px) {
}
/*Mobile L*/
@media (width <=425px) {
}
/*Mobile M*/
@media (width <=375px) {
}
/*Mobile S*/
@media (width <=320px) {
}