:root {
    --cor-branco: white;
    --cor-preto: black;

    --border-radius: 1rem;
    --gap-grande: 1.6rem;
    --gap-medio: 1.3rem;
    --gap-pequeno: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: clamp(1.6rem, 1.6vw + 0.6rem, 5rem);
    margin-bottom: 1.3rem;
}

p {
    font-size: clamp(0.7rem, 0.7vw + 0.3rem, 1.6rem);
    width: 70%;
}

li {
    font-size: clamp(0.7rem, 0.7vw + 0.3rem, 1.6rem);
}

iframe {
    width: 83rem;
    height: 18rem;
    border-radius: var(--border-radius);
}

.Container {
    width: 100%;
    height: 100vh;
}

.Branco {
    background-color: var(--cor-branco);
}

.Preto {
    background-color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sessao {
    background-color: var(--cor-branco);
    width: 90%;
    height: 90%;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.FundoMenu {
    width: 100%;
    height: 8rem;
    background-color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu {
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 1vw + 0.6rem, 2rem);
    gap: 6.6rem;

    & a {
        text-decoration: none;
        color: var(--cor-branco);
        transition: all 0.3s ease;
    }
}

.Menu a:hover {
    font-size: clamp(1.3rem, 1vw + 0.8rem, 2.6rem);
    text-decoration: underline;
}

.TituloGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.Titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & h1 {
        font-size: clamp(3.3rem, 2vw + 0.7rem, 8rem);
        margin-bottom: 0.7rem;
    }

    & p {
        font-size: clamp(0.7rem, 0.7vw + 0.3rem, 1.6rem);
        width: 70%;
    }
}

.ImagemTitulo {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 45%;
    }
}

.Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Imagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);

    & img {
        height: 20rem;
        width: 80%;
        border-radius: var(--border-radius);
    }
}

.SessaoGaleria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);
    margin-top: 3.3rem;
}

.GaleriaGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap-grande);

    & img {
        width: 33rem;
        height: 20rem;
        border-radius: var(--border-radius);
        transition: all 0.3s ease;
    }
}

.GaleriaGrid img:hover {
    width: 40rem;
    height: 23rem;
}

.HardwareGrid {
    margin-top: 3.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ImagemHardware {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 20%;
        border-radius: var(--border-radius);
    }
}

.HardwareUm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.6rem;
}

.SessaoVideos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);
}

.EquipeGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--gap-medio);
}

.Membro {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-pequeno);
    text-align: center;

    & h2 {
        font-size: clamp(1.3rem, 1.3vw + 0.7rem, 2.6rem);
        margin: 0;
    }

    & p {
        font-size: clamp(0.7rem, 0.6vw + 0.3rem, 1.6rem);
        margin: 0;
    }

    & img {
        width: 16rem;
        height: 16rem;
        border-radius: var(--border-radius);
        object-fit: cover;
    }
}

.FundoRodape {
    width: 100%;
    height: 16rem;
    background-color: var(--cor-preto);
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rodape {
    display: flex;
    gap: 66rem;

    & h1 {
        color: var(--cor-branco);
        font-size: clamp(1.6rem, 1.6vw + 0.7rem, 4.3rem);
        font-weight: bold;
    }
}

.RodapeLinks {
    display: flex;
    justify-content: center;
    gap: 2.6rem;

    & a {
        color: var(--cor-branco);
        font-size: clamp(1.6rem, 1.6vw + 0.7rem, 4.3rem);
    }
}

@media (width <=1000px) {
    .Menu {
        gap: 3.3rem;
    }

    .GaleriaGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: var(--gap-medio);
    }

    .EquipeGrid {
        gap: var(--gap-pequeno);
    }

    .Rodape {
        gap: 33rem;
    }

    iframe {
        width: 50rem;
    }

    .ContainerXMedia {
        height: 83rem;
    }
}

@media (width <=590px) {
    .Menu {
        gap: 1.6rem;
    }

    .TituloGrid {
        grid-template-columns: 1fr;
    }

    .Grid {
        grid-template-columns: 1fr;
    }

    .GaleriaGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .HardwareGrid {
        grid-template-columns: 1fr;
    }

    .EquipeGrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .Rodape {
        gap: 16rem;
    }

    .Container {
        width: 100%;
        height: 86rem;
    }

    iframe {
        width: 33rem;
    }

    .h1XMedia h1 {
        margin-top: 3.3rem;
    }

    .pXMedia p {
        margin-bottom: 3.3rem;
    }

    .HardwareDois ul {
        margin-bottom: 3.3rem;
    }

    .ContainerXMedia {
        height: 140rem;
    }
}
