:root {
    --cor-branco: white;
    --cor-preto: black;

    --border-radius: 3rem;
    --gap-grande: 5rem;
    --gap-medio: 4rem;
    --gap-pequeno: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: clamp(5rem, 5vw + 2rem, 15rem);
    margin-bottom: 4rem;
}

p {
    font-size: clamp(2rem, 2vw + 1rem, 5rem);
    width: 70%;
}

li {
    font-size: clamp(2rem, 2vw + 1rem, 5rem);
}

iframe {
    width: 2500px;
    height: 550px;
    border-radius: var(--border-radius);
}

.Container {
    width: 100%;
    height: 100vh;
}

.Branco {
    background-color: var(--cor-branco);
}

.Preto {
    background-color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sessao {
    background-color: var(--cor-branco);
    width: 90%;
    height: 90%;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.FundoMenu {
    width: 100%;
    height: 25rem;
    background-color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu {
    display: flex;
    justify-content: center;
    font-size: clamp(3rem, 2vw + 2rem, 6rem);
    gap: 20rem;

    & a {
        text-decoration: none;
        color: var(--cor-branco);
        transition: all 0.3s ease;
    }
}

.Menu a:hover {
    font-size: clamp(4rem, 3vw + 2rem, 8rem);
    text-decoration: underline;
}

.TituloGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.Titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & h1 {
        font-size: clamp(10rem, 6vw + 2rem, 25rem);
        margin-bottom: 2rem;
    }

    & p {
        font-size: clamp(2rem, 2vw + 1rem, 5rem);
        width: 70%;
    }
}

.ImagemTitulo {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 45%;
    }
}

.Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Imagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);

    & img {
        height: 60rem;
        width: 80%;
        border-radius: var(--border-radius);
    }
}

.SessaoGaleria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);
    margin-top: 10rem;
}

.GaleriaGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap-grande);

    & img {
        width: 100rem;
        height: 60rem;
        border-radius: var(--border-radius);
        transition: all 0.3s ease;
    }
}

.GaleriaGrid img:hover {
    width: 120rem;
    height: 70rem;
}

.HardwareGrid {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ImagemHardware {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 60%;
        border-radius: var(--border-radius);
    }
}

.HardwareUm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.SessaoVideos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-grande);
}

.EquipeGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--gap-medio);
}

.Membro {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-pequeno);
    text-align: center;

    & h2 {
        font-size: clamp(4rem, 3vw + 2rem, 8rem);
        margin: 0;
    }

    & p {
        font-size: clamp(2rem, 1.5vw + 1rem, 5rem);
        margin: 0;
    }

    & img {
        width: 50rem;
        height: 50rem;
        border-radius: var(--border-radius);
        object-fit: cover;
    }
}

.FundoRodape {
    width: 100%;
    height: 50rem;
    background-color: var(--cor-preto);
    margin-top: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rodape {
    display: flex;
    gap: 200rem;

    & h1 {
        color: var(--cor-branco);
        font-size: clamp(5rem, 5vw + 2rem, 13rem);
        font-weight: bold;
    }
}

.RodapeLinks {
    display: flex;
    justify-content: center;
    gap: 8rem;

    & a {
        color: var(--cor-branco);
        font-size: clamp(5rem, 5vw + 2rem, 13rem);
    }
}

@media (width <=3024px) {
    .Menu {
        gap: 10rem;
    }

    .GaleriaGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: var(--gap-medio);
    }

    .EquipeGrid {
        gap: var(--gap-pequeno);
    }

    .Rodape {
        gap: 100rem;
    }

    iframe {
        width: 1500px;
    }

    .ContainerXMedia {
        height: 250rem;
    }
}

@media (width <=1768px) {

    .Menu {
        gap: 5rem;
    }

    .TituloGrid {
        grid-template-columns: 1fr;
    }

    .Grid {
        grid-template-columns: 1fr;
    }

    .GaleriaGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .HardwareGrid {
        grid-template-columns: 1fr;
    }

    .EquipeGrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .Rodape {
        gap: 50rem;
    }

    .Container {
        width: 100%;
        height: 260rem;
    }

    iframe {
        width: 1000px;
    }

    .h1XMedia h1 {
        margin-top: 10rem;
    }

    .pXMedia p {
        margin-bottom: 10rem;
    }

    .HardwareDois ul {
        margin-bottom: 10rem;
    }

    .ContainerXMedia {
        height: 420rem;
    }
}